.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

$front-color: #3d405b;//#000000;
$back-color: #81b29a;//#14213d;
$content-color: #f4f1de;// #e5e5e5;
$content-color-font: black;
$side-size: 84px;


.container {
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    font-family: "Open Sans", arial;
    position: absolute;
    overflow-y: scroll;
}

.side {
    
    font-size: 0.75em;
    //padding-top: 25px;
    width: $side-size;
    height: 100%;
    top: 0;
    bottom: 0;
    font-weight: 300;
    position: fixed;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 99;

    ul, li {
      transition: all .35s cubic-bezier(.07,.65,.36,.92);
      list-style-type: none;
      outline: 0;
      margin: 0;
      padding: 0;
      //text-transform: uppercase;
    
    }
    span {
      padding-left: 16px;
    }

    a {
      color: white;
      text-align: center;
    }

    li {
      height: 50px;
      line-height: 50px;
    }
}

.top {
  font-size: 0.75em;
  display: none;
  //height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  ul, li {
    list-style-type: none;
    //outline: 0;
    margin: 0;
    padding: 0;
    float: left;
    //text-transform: uppercase;
  }
  span {
    padding-left: 14px;
    padding-right: 14px;
  }
  a {
    color: white;
  }
  li {
    height: 50px;
    line-height: 50px;
  }
}

@media screen and (max-width: 768px) {
  .side {
    display: none;
  }
  .top {
    display: block;
  }
}

.sideColor {
  background: #495057;
  li:hover {
    background: black;
    //width: calc(100% + 10px);
    //transform: translateX(10px);
    //margin-left: -10px;
    //padding-left: 10px;
    > a , hr{
      color: white;
    }
  }
}

.sideColorOne {
  background: #d90429;
  color: #edf2f4;
  a {
    color: white;
  }
  li:hover {
    background: #edf2f4;
    //width: calc(100% + 10px);
    //transform: translateX(10px);
    //margin-left: -10px;
    //padding-left: 10px;
    > a , hr{
      color: #d90429;
    }
  }
}

.sideColorTwo {
  color: #e5e5e5;
  background: #000000;
  li:hover {
    background: #e5e5e5;
    width: calc(100% + 10px);
    transform: translateX(10px);
    margin-left: -10px;
    padding-left: 10px;
    > a , hr{
      color: #fca311;
    }
  }
}

.sideColorThree {
  background: $front-color;
  color: $content-color;
  li:hover {
    background: $content-color;
    width: calc(100% + 10px);
    transform: translateX(10px);
    margin-left: -10px;
    padding-left: 10px;
    > a , hr{
      color: $front-color;
    }
  }
}

.content {
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  position: fixed;
}

.contentColor {
  background: #212529;
}

.contentColorOne {
  background: #14213d;
}

.contentColorTwo {
  background: #fca311;
}

.contentColorThree {
  background: $back-color;
}

.card {
    //animation: .35s ;
    border-radius: 20px;
    transition: all .35s cubic-bezier(.07,.65,.36,.92);//, opacity .6s ease-in-out, scale .6s ease-in;
    opacity: 1;
    //overflow: scroll;
    color: $content-color-font;
    position: relative;
    width: calc(97% - 84px);
    //right: 0px;
    left: calc(1.5% + 84px);
    top: calc(65px);
    margin: 0;
    border: 0;
    //bottom: 0;
    padding: 40px;
    
    font-family: 'Montserrat', sans-serif;
    h2, h3, h4, h5, h6 {
      font-family: 'Noto Sans JP', sans-serif;
    }
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 768px) {
  .card {
    width: calc(100%);
    left: calc(0%);
    top: calc(40px);
  }
  .path {
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  .card {
    width: calc(1000px - 84px);
    left: calc((100% - 1000px)/2 + 84px);
    top: calc(65px);
  }
}

.up {
    left: calc(-100% + 84px);
    //opacity: 0;
    //transform: scale(1.08, 1.08);
}

.cardColor {
  color: white;
  background: #343a40;
}

.cardColorOne {
  background: #e5e5e5;
}

.cardColorTwo {
  background: #e5e5e5;
}

.cardColorThree {
  background: $content-color;
}

.cardText {
  //width: 50%;
  //float: left;
  padding-top: 10px;
  padding-right: 30px;
  padding-left: 30px;
}

@media screen and (max-width: 639px) {
  .card {
    padding-left: 10px;
    padding-right: 10px;
  }
  .cardText {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.resultTable { 
  font-size: 13px;

  th {
    color: white;
    background: #343a40;
  }
  td {
    color: white;
    background: #343a40; 
  }
}

pre {
  font-size: 11px;
}

.codeHigh {
  text-align: center;
}

.cardImage {
  //width: 50%;
  //float: right;
  //padding-top: calc(5%);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #81b29a;
  display: block;
  box-sizing: border-box;
  img {
    //display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    top: calc(5%);
  }
}

.subCard {
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
  background-color: #30475e;
  transition: all .35s cubic-bezier(.07,.65,.36,.92);
  .subCardTitle {
    font-size: 0.8em;
    padding-top: 10px;
  }
  span {
    padding: 10px;
    
    h4, h5, h6, p {
      padding: 10px;
    }
  }

  .subCardGo {
    float: right;
    font-size: 1em;
    padding-top: 0px;
    padding-bottom: 10px;
    a {
      color: yellow;
    }
    a:hover {
      color: blue;
    }
  }

}
.subCard:hover {
  background-color: #30478e;
  transform: translateY(-10px)
}

.path {
  color: yellow;
  padding-top: 20px;
  padding-left: 110px;
  height: 60px;
  font-size: 0.5em;
  position: fixed;
  z-index: 2;
  background: #212529;
  border-bottom-right-radius: 20px;
  a {
    padding: 10px; 
    color: yellow;
    transition: all .35s cubic-bezier(.07,.65,.36,.92);
  }
  a:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #3d405b;
    border-radius: 10px;
   
  }
}
